#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with javahelper --with maven-repo-helper

override_dh_auto_install:
	dh_auto_install
	mkdir -p debian/tmp/usr/lib/${DEB_HOST_MULTIARCH}
	cp target/native/libyaz4j.so debian/tmp/usr/lib/${DEB_HOST_MULTIARCH}
